$alert-danger-background-color: #fff3f7 !default;
$alert-danger-border-color: #fff3f7 !default;
$alert-danger-color: #ff7986 !default;

.alert-danger {
    background-color: transparent;
    border-color: $alert-danger-border-color;
    color: $alert-danger-color;
}