$dashboard-banner-gradient-start: transparent !default;
$dashboard-banner-gradient-end: lighten(
  $dashboard-banner-gradient-start,
  5%
) !default;
$dashboard-banner-network-plain-container-background-color: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-price: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-market: $secondary !default;
$dashboard-line-color-transactions: $warning !default;
$dashboard-stats-item-label-color: #fff !default;
$dashboard-stats-item-value-color: rgba(#fff, 0.8) !default;
$dashboard-banner-chart-legend-label-color: transparent !default;
$dashboard-banner-chart-legend-value-color: #999 !default;
$dashboard-stats-item-border-color: $primary !default;
$dashboard-banner-network-plain-container-height: 122px;
$dashboard-banner-chart-axis-font-color: red !default;
$dashboard-banner-chart-axis-font-color-alt: #333;

.dashboard-banner-container {
  overflow: hidden;
  padding: 0;
  position: relative;
  height: auto;
  background-color: transparent;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
      height: auto;
  }
  @include media-breakpoint-down(md) {
      height: auto;
  }
}

.dashboard-text {
color:#dddddd;
font-size: 2.2rem;
text-align: center;
padding-top: 22px;
padding-bottom: 44px;
font-weight: bold;
@media (max-width: 380px) {
  font-size: 1.2rem;
}

}

.scan-logo {
  width: 16vw;
  height: auto;

  @media (max-width: 599px) {
  width: 36vw;
  }
}

.dashboard-logo {
  color:#00ffff;
  width: 50%;
  margin: 0 auto;
  height: auto;
  text-align: center;

  font-weight: bold;


}

.text-stats {
  padding-top: 40px;
  margin-bottom: 10px;
}

.dashboard-banner {
  //display: flex;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  z-index: 9;

  @include media-breakpoint-between(lg, xl) {
    height: 120px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}



// dashboard
.dashboard-banner-network-plain-container {
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  height: $dashboard-banner-network-plain-container-height;
  justify-content: center;
  max-width: 100%;
  width: 100%;

  @include media-breakpoint-down(lg) {
    margin-top: 15px;
    width: 550px;
  }

  @include media-breakpoint-down(md) {
    border-top-right-radius: 10px;
    height: auto;
    margin: auto;
    justify-content: flex-start;
    margin-left: 0;
    max-width: 100%;
    width: 250px;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }


}

.dashboard-banner-network-stats {
  margin: auto;
  margin-top: 20px;
  max-width: 1320px;
  display: inline-block;
  margin-bottom: 40px;
  column-gap: 20px;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  @include media-breakpoint-down(sm) {
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include stats-item($dashboard-stats-item-border-color, $dashboard-stats-item-label-color, $dashboard-stats-item-value-color);

  .dashboard-banner-network-stats-item {
    background-color: transparent;

    align-items: center;
    margin: 0 auto;



    @include media-breakpoint-down(lg) {
      flex-grow: 1;
      flex-shrink: 1;

    }

    @include media-breakpoint-down(sm) {
      min-width: 50%;

    }

    &.dashboard-banner-network-stats-item-1 {
      order: 2;
     
    }
    &.dashboard-banner-network-stats-item-2 {
      order: 4;
    }
    &.dashboard-banner-network-stats-item-3 {
      order: 1;
    }
    &.dashboard-banner-network-stats-item-4 {
      order: 3;
    }
    &.dashboard-banner-network-stats-item-5 {
      order: 5;
    }
    &.dashboard-banner-network-stats-item-6 {
      order: 6;
    }
  }

  .dashboard-banner-network-stats-value {
    color: #00ffff;
    font-size: 0.7rem;
    @media screen and (max-width: 374px) {
      font-size: 0.4rem;
    }
  }
}
