$dashboard-banner-gradient-start: transparent !default;
$dashboard-banner-gradient-end: lighten(
  $dashboard-banner-gradient-start,
  5%
) !default;
$dashboard-banner-network-plain-container-background-color: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-price: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-market: $secondary !default;
$dashboard-line-color-transactions: $warning !default;
$dashboard-stats-item-label-color: #fff !default;
$dashboard-stats-item-value-color: rgba(#fff, 0.8) !default;
$dashboard-banner-chart-legend-label-color: transparent !default;
$dashboard-banner-chart-legend-value-color: #999 !default;
$dashboard-stats-item-border-color: $primary !default;
$dashboard-banner-network-plain-container-height: 122px;
$dashboard-banner-chart-axis-font-color: red !default;
$dashboard-banner-chart-axis-font-color-alt: #333;

.dashboard-banner-container {
  //@include gradient-container();
  //margin-bottom: 3rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: auto;
  background-color: transparent;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
      height: auto;
  }
  @include media-breakpoint-down(md) {
      height: auto;
  }
}

.dashboard-text {
color:#dddddd;
text-align: center;
padding-top: 22px;
padding-bottom: 44px;
font-weight: bold;
@media (max-width: 374px) {
  font-size: 2.2rem;
}

}

.dashboard-logo {
  color:#00bfff;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 10px;
  font-weight: bold;

}

.text-stats {
  padding-top: 40px;
  margin-bottom: 10px;
}

.dashboard-banner {
  //display: flex;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  z-index: 9;

  @include media-breakpoint-between(lg, xl) {
    height: 120px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.dashboard-banner-network-graph {
  flex-grow: 1;
  padding: 15px 0 0 0;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
}

.dashboard-banner-chart {
  flex-grow: 1;
  margin: 15px 0 20px 0;
  max-width: 350px;
  position: relative;
  min-height: 100px;
  height: calc(100% - 86px);

  @include media-breakpoint-down(md) {
    flex-grow: 0;
    margin-top: 20px;
    margin-bottom: auto;
    max-width: 100%;
  }

  > canvas {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}

.dashboard-banner-chart-legend {
  display: grid;
  grid-template-columns: repeat(var(--numChartData), 0.9fr);
  padding-bottom: 12px;
  padding-left:20px;

  .dashboard-banner-chart-legend-item {
    padding-bottom: 3px;
    padding-left: 12px;
    padding-top: 3px;
    position: relative;
    padding-right: 12px;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: row;
    }

    @media (max-width: 599px) {
      padding-top: 0;
      padding-bottom: 0;
      flex-direction: column;
    }

    // &::before {
    //   border-radius: 2px;
    //   content: "";
    //   height: 100%;
    //   left: 0;
    //   position: absolute;
    //   top: 0;
    //   width: 4px;
    // }

    // &:nth-child(1)::before {
    //   background-color: $dashboard-line-color-price;
    // }

    // &:nth-child(2)::before {
    //   background-color: $dashboard-line-color-market;
    // }

    // &:nth-child(3)::before {
    //     background-color: $dashboard-line-color-transactions;
    // }
  }

  .dashboard-banner-chart-legend-label {
    color: $dashboard-banner-chart-legend-label-color;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 5px;

    @media (max-width: 374px) {
      position: relative;
      top: -2px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 5px 0 0;
    }
  }

  .dashboard-banner-chart-legend-value {
    color: $dashboard-banner-chart-legend-value-color;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;

    &.inline {
      display: inline-block;
    }
  }

  .dashboard-banner-chart-legend-value-container {
    white-space: nowrap;
  }

  .gas-price-icon {
    position: relative;
    top: -2px;
    path {
      fill: $dashboard-line-color-price;
    }
  }
}
// dashboard
.dashboard-banner-network-plain-container {
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  //border-top-left-radius: 10px;
  display: flex;
  height: $dashboard-banner-network-plain-container-height;
  justify-content: center;
  //margin: 5px 0 -15px 30px;
  max-width: 100%;
  //padding: 30px 0 30px 60px;
  width: 100%;
  //position: relative;

  @include media-breakpoint-down(lg) {
    margin-top: 15px;
    width: 550px;
  }

  @include media-breakpoint-down(md) {
    border-top-right-radius: 10px;
    height: auto;
    margin: auto;
    justify-content: flex-start;
    margin-left: 0;
    max-width: 100%;
    //padding: 20px 0 20px 20px;
    width: 250px;
   // box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  // &::after {
  //   background-color: ;
  //   bottom: 0;
  //   content: "";
  //   display: block;
  //   height: $dashboard-banner-network-plain-container-height;
  //   left: 0;
  //   position: absolute;
  //   width: 9999px;
  //   z-index: -1;
  //   box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  //   border-top-left-radius: 20px;

  //   @include media-breakpoint-down(md) {
  //     display: none;
  //   }
  // }
}

.dashboard-banner-network-stats {
  margin: auto;
  align-items: center;
  display: inline-block;
  // margin-bottom: 40px;
  // column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  @include media-breakpoint-down(sm) {
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  @include stats-item($dashboard-stats-item-border-color, $dashboard-stats-item-label-color, $dashboard-stats-item-value-color);

  .dashboard-banner-network-stats-item {
    background-color: transparent;
       //margin-right: 60px;
    // border-style: solid;
    // border-width: 1px;
    // border-color: #dddddd;
    // border-radius: 4px;
    // min-width: 240px;
    // min-height: 100px;
    align-items: center;
    margin: 0 auto;
    //text-align:center;
 
 


    @include media-breakpoint-down(lg) {
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: 0;
    
      // margin-bottom: 25px;
    }

    @include media-breakpoint-down(sm) {
      min-width: 50%;
    }

    &.dashboard-banner-network-stats-item-1 {
      order: 2;
     
    }
    &.dashboard-banner-network-stats-item-2 {
      order: 4;
    }
    &.dashboard-banner-network-stats-item-3 {
      order: 1;
      // margin-right: 0;
    }
    &.dashboard-banner-network-stats-item-4 {
      order: 3;
    }
    &.dashboard-banner-network-stats-item-5 {
      order: 5;
    }
    &.dashboard-banner-network-stats-item-6 {
      order: 6;
    }
  }

  .dashboard-banner-network-stats-value {
    color: #00bfff;
    @media (max-width: 374px) {
      font-size: 0.8rem;
    }
  }
}
