.mobile-search-show {
    @media screen and (max-width: 992px) {
        width: 100%;
    }
    @media screen and (min-width: 992px) {
        display: none !important;
    }
}

.mobile-search-hide {
    @media screen and (max-width: 992px) {
        display: none !important;
    }
}

.search-control {
  
    background-color: #121c2b;
    @media screen and (min-width: 992px) {
        height: 57px !important;
    }
    @media screen and (max-width: 992px) {
        height: 33px !important;
    }
    &.focused-field {
      border: 1px solid $secondary !important;
    }

}

.autoComplete_wrapper {
    width: 100% !important;
    
   
}

.main-search-autocomplete {
    width: 100% !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    text-align: center;
    border-color: #00bfff;



    background-color: transparent !important;
    @media screen and (max-width: 992px) {
        height: auto !important;
    }
    &[placeholder]{
        text-overflow: ellipsis !important;
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          text-overflow: ellipsis  !important;
          color: #00bfff !important;
      }
      &::-moz-placeholder { /* Firefox 19+ */
          text-overflow: ellipsis  !important;
          color: #00bfff !important;
      }
      &:-ms-input-placeholder { /* IE 10+ */
          text-overflow: ellipsis  !important;
          color: #00bfff !important;
    
      }
      &:-moz-placeholder { /* Firefox 18- */
          text-overflow: ellipsis  !important;
          color: #00bfff !important;
      }
}

// .main-search-autocomplete, .main-search-autocomplete-mobile {
//     font-size: 14px !important;
//     color: #bff000 !important;
//     margin-bottom: 20px;

// }



.autocomplete-category {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    color: #89CFF0;
    margin-left: auto;
}

.autoComplete_highlight {
    background-color: #feff54 !important;
    color: #89CFF0 !important;
}

ul[id^='autoComplete_list_'] {
    margin-left: -39px !important;
    border-radius: 0px !important;
    padding: 5px !important;
}

li[id^='autoComplete_result_'] {
    font-size: 12px !important;
    border-radius: 0 !important;
}