@import '~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css';

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
    padding-top: 0%;
    background-color: #000;
    //background-image: url("explorer2.svg");
    //background-blend-mode: multiply;
    // object-fit: cover;
    
  }
}

.logs-hash {
  line-height: 24px !important;
}